<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Buy Product</title>
    <link rel="stylesheet" href="/stylesheets/cart.css" />
  </head>
  <body>
    <%- include("partials/header") %>
    <main>
      <div class="productsSec">
        <div class="product">
          <div class="productImage">
            <img
              src="data:image/jpeg;base64,<%= user.cart[0].image.toString('base64') %>"
              alt=""
            />
          </div>
          <div class="productDetails">
            <div class="productNAme">
              <p><%= user.cart[0].name %></p>
            </div>
          </div>
        </div>
        <div class="priceBreakDown">
          <p class="priceBreakDownHeading">Price Breakdown</p>
          <div class="priceDetails">
            <div class="mrp">
              <p>Total MRP</p>
              <p>₹<%= user.cart[0].price %></p>
            </div>
            <div class="mrp">
              <p>Discount on MRP</p>
              <p>₹<%= user.cart[0].discount %></p>
            </div>
            <div class="mrp">
              <p>Platform fee</p>
              <p>₹20</p>
            </div>
            <div class="mrp">
              <p>Shipping fee</p>
              <p>Free</p>
            </div>
            <div class="totalPrice">
              <div class="totalPriceDetails">
                <p>Total Amount</p>
                <p><%= user.cart[0].price + user.cart[0].discount + 20 %></p>
              </div>
            </div>
            <div class="placeOrder">
              <a href="">Place Order</a>
            </div>
          </div>
        </div>
      </div>
    </main>
  </body>
</html>
