<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>My Account</title>
    <link rel="stylesheet" href="/stylesheets/myAccount.css" />
  </head>
  <body>
    <%- include("partials/adminPanel") %>
    <main>
      <div class="leftSec">
        <div class="profile">
          <img
            src="data:image/jpeg;base64,<%= owner.picture.toString('base64') %>"
            alt="Profile Pic"
          />
          <p class="fullName">@<%= owner.fullname %></p>
        </div>
      </div>
      <div class="rightSec">
        <p class="usersDetailsHeading">Enter Your Details</p>
        <div class="formSec">
          <form
            class="formSection"
            action="/owners/myaccountDetails"
            method="post"
            enctype="multipart/form-data"
          >
            <input class="imageUpload" type="file" name="image" />
            <input
              class="inputFullName"
              type="text"
              placeholder="Enter Your Full Name"
              name="fullname"
              value="<%= owner.fullname %>"
            />
            <input
              class="inputContactNumber"
              type="text"
              placeholder="Enter Your Contact Number"
              name="contact"
              value="<%= owner.contact %>"
            />
            <input
              type="text"
              placeholder="Enter your gstin number"
              class="inputContactNumber"
              name="gstin"
              value="<%= owner.gstin %>"
            />
            <input class="submitBtn" type="submit" value="update Details" />
          </form>
        </div>
      </div>
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
