<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop</title>
    <link rel="stylesheet" href="/stylesheets/shop.css" />
  </head>
  <body>
    <%- include("partials/header") %>

    <main>
      <div class="LeftNavSec">
        <div class="leftNavTopSec">
          <div class="leftNavTopSecFirstOne">
            <p>Sort BY :</p>
            <div class="dropdown">
              <p>Popular</p>
            </div>
          </div>
          <div class="leftNavTopSecSecondOne">
            <a href="/shop">New Collection</a>
            <a href="/shop">All Products</a>
            <a href="">Discounted Products</a>
          </div>
        </div>
        <div class="leftNavBottomSec">
          <p>Fliter By :</p>
          <div class="letfNavBottomSecDownLinks">
            <a href="">Avaliability</a>
            <a href="">Discount</a>
          </div>
        </div>
      </div>
      <div class="productsSec">
        <%- include("partials/product") %> <%- include("partials/product") %>
        <%- include("partials/product") %> <%- include("partials/product") %>
        <%- include("partials/product") %>
      </div>
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
