<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Shop</title>
    <link rel="stylesheet" href="/stylesheets/shop.css" />
    <script
      src="https://kit.fontawesome.com/6bf2bfea80.js"
      crossorigin="anonymous"
    ></script>
    <script src="https://cdn.tailwindcss.com"></script>
  </head>
  <body>
    <%- include("partials/header") %>

    <main>
      <div class="LeftNavSec">
        <div class="leftNavTopSec">
          <div class="leftNavTopSecSecondOne">
            <a href="/shop">All Products</a>
            <a href="/users/discount/product">Discounted Products</a>
          </div>
        </div>
        <div class="leftNavBottomSec">
          <p>Fliter By :</p>
          <div class="letfNavBottomSecDownLinks">
            <a href="/shop">Avaliability</a>
            <a href="/users/discount/product">Discount</a>
          </div>
        </div>
      </div>
      <% if(products.length > 0) { %>
      <div class="productsSec">
        <% products.forEach((product) => { %>
        <div class="product">
          <div class="productImage">
            <img
              class="bg-[<%= product.bgcolor %>]"
              src="data:image/jpeg;base64,<%= product.image.toString('base64') %>"
              alt="Image"
            />
          </div>
          <div class="productDetails">
            <div
              class="productNAme txt-[<%= product.textcolor %>] bg-[<%= product.panelcolor %>]"
            >
              <p><%= product.name %></p>
              <p>₹<%= product.discount %></p>
            </div>
            <div class="productPriceDetails bg-[<%= product.panelcolor %>]">
              <div class="productPrice">₹<%= product.price %></div>
              <div class="addTocartIcon">
                <a href="/addToCart/<%= product._id%>"
                  ><i class="fa-solid fa-cart-shopping"></i
                ></a>
              </div>
            </div>
          </div>
        </div>
        <% }) %>
      </div>
      <% } else { %>
      <p class="noProducts">No products yet.Create them</p>
      <% } %>
    </main>
    <%- include("partials/footer") %>
  </body>
</html>
